p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif ;
    font-size: 16px;
    line-height: 1.7;   
    margin-bottom: 40px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

.speaker {
    font-variant-caps: all-small-caps;
    color: #7F2C2C;

}

.action {
    font-weight: lighter;
    font-style: italic;
    color:#808080;
    
    
}