html{
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

body{
    margin-left: 60px;
    margin-top: 40px;
    max-width: 800px;
}

section{
    margin-bottom: 40px;
}

h1{
    font-family: "Merriweather", serif;
}

h2{
    font-family: "Merriweather", serif;
    font-size: 22px;
    text-transform: capitalize;
}

p.note{
    font-size: 16px;
    color: teal;
}

p.note2{
    font-size: 14px;
    color: teal;
    margin-top: 0px;
    padding-bottom: 10px;
}