/* challenge 1 */
header{ 
    margin-bottom: 3rem;
}

/* challenge 2 */
p{
    line-height: 1.6;
}

/* challenge 3 */
a.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}

/* challenge 4 */
.shows h1{
    font-size: 2.5rem;
}

/* challenge 5 */
.shows h2{
    font-size: 1rem;
    text-transform: uppercase;
}

/* challenge 6 */
h1, h2{
    font-weight: 300;
}

/* challenge 7 */
.cast img{
    width: 100%;
}

/* challenge 8 */
.cast li{
    width: 25%;
}

/* challenge 9 */
.shows > li{
    border-top: 1px solid black;
}

/* challenge 10 */
nav .selected a{
    font-weight: bold;
    color: black;
}

/* challenge 11 */
.cast ul li a div{
    font-size: 0.8rem;
}

/* challenge 12 */
.cast ul li a div:first-of-type{
    font-weight: bold;
}

/* challenge 13 */
.cast ul li a div:nth-of-type(2){
    font-style: italic;
}

/* challenge 14 */
#game-of-thrones .seasons li:last-of-type::after{
    content: "*";
}

/* challenge 15 */
#game-of-thrones .seasons::after{
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}