html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}

body{
    margin-left: 80px;
    margin-bottom: 80px;
    margin-top: 40px;
}

header{
    padding-bottom: 20px;
}

section{
    margin-bottom: 75px;
    
}

h1{
    font-family: "Crimson Text", serif;
    margin-bottom: 5px;
    font-size: 64px;

}

h2{
    color:rgb(113, 112, 112);
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 28px;
}

h3{
    font-family: monospace;
    color: purple;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    width: 200px;
    display: inline-block;
}

p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Crimson Text", serif;
    display: inline;
   
}

p.type-info{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:rgb(113, 112, 112);
    line-height: 1.4;
}

p.weight-semibold{
    font-weight: 600;
}

p.weight-bold{
    font-weight: 700;
}

p.style-italic{
    font-style: italic;
}

p.spacing-compact{
    letter-spacing: -0.06em;
}

p.spacing-wide{
    letter-spacing: 0.2em;
}

p.decor-overline{
    text-decoration: overline;
}

p.decor-line-through{
    text-decoration: line-through;
}

p.decor-underline{
    text-decoration: underline;
}

p.uppercase{
    text-transform: uppercase;
}

p.lowercase{
    text-transform: lowercase;
}

p.capitalize{
    text-transform: capitalize;
}